.customer {
  padding: 1rem;

  h1 {
    margin-bottom: 1rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    border-radius: 10px;
    background: white;
    thead {
      tr {
        padding: 18px 20px;
        border: 1px solid #ddd;
        text-align: start;
        th {
          text-align: start;
          padding: 10px 20px;
        }
      }
    }

    tbody {
      tr {
        border: 1px solid #ddd;
        text-align: start;

        td {
          padding: 18px 20px;

          text-align: start;
        }
      }
      .td {
        position: relative;
        .pin-btn {
          position: absolute;
          top: -5px;
          left: -15px;
        }
      }
    }
  }

  .params {
    position: relative;
    button {
      background: transparent;
      border: none;
      font-size: 18px;
    }
    .check{
      position: absolute;
      top: 10px;
      right: 100px;
    }
    &__module {
      position: absolute;
      top: -150%;
      left: 0px;
      right: 0px;
      width: 100%;
      max-height: 400px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: white;
      box-shadow: 0px 0px 5px gray;
      border-radius: 5px;
      padding: 5px;
      z-index: 99;
      a {
        padding: 2px;
        border-radius: 2px;
      }
      a:hover {
        background: #4880ff;
        color: white;
        transition: 0.3s;
      }
    }
  }

  .customer__budget {
    max-height: 25px;
    max-width: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 10px auto;
  }
  .incomer {
    color: #00b69b;
    background: #ccf0eb;
  }
  .nothing {
    color: #6226ef;
    background: #e0d4fc;
  }
  .outcomer {
    color: #ef3826;
    background: #fcd7d4;
  }
  @media (max-width: 768px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  select {
    outline: none;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    option {
      padding: 10px;
    }
  }
}
